/*CSS reset- owerwrite the default setings, so boxes stay inside
             parent*/
html{
    box-sizing: border-box;
  }

  *, *:before, *:after{
    box-sizing: inherit;
  }
/*End reset*/

body{
    background-color: black;
    background-image: url('../images/galaxy.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
/* Card + Box properties */
.card{
    width:650px;
    height:auto; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 

    box-shadow: 0px 0px 10px rgb(105, 12, 226);
}
.box{
    border: 2px solid rgb(105, 12, 226);
    background-color: rgb(221, 161, 223);
    
    width:100%;
    height:auto;
}
.title{
    height: 100px;
    width: 100%;
    text-align: center;
}
.bottom{
    display: flex;
    flex-direction: row;
}
.content, .projects{
    display: flex;
    flex-direction: column;
    flex-basis: 175%;
}
.projects{
    height: 600px;
    overflow-y: scroll;
}
/* Font size properties */
.header{
    color: rgb(30, 0, 255);
    font-size: 50px;
}
.text{
    color: rgb(255, 255, 255);
    font-size: 18px;
}

/* navlink properties */
.navlink{
    background-color: rgb(105, 12, 226);
    padding: 15px 25px;
}
.other{
    color: aqua;
}
.current{
    color: darkblue;
}
a{
    font-size: 22px;
}
a:hover{
    opacity: 0.8;
}

/* Image properties */
.nick
{
    width: 200px;
}
.scratch
{
    width: 75%;
    height: 50%;
}
.battleship
{
    width: 75%;
    height: 40%;
}
.floatie
{
    width: 80%;
    height: 25%;
}

/*Mobile view mode*/
@media (max-width:650px){
    .card{
        width: 90%;
        display: flex;
        flex-direction: column;
    } 
    .navbar, .content{
        width: 100%;
        flex-direction: column;
    }
    .bottom{
        flex-direction: column;
    }
}